* {
    font-family: monospace;
    font-weight: 200;
    background-color: aliceblue;
    font-size: large;
}

h1 {
    text-align: center;
    font-weight: 300;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.head-one {
    text-align: center;
    font-weight: bold;
}

.head-two,
.head-three {
    text-align: left;
    font-weight: bold;
}

hr {
    width: 500px;
    border: solid lightslategray;
}

.banana {
    width: 320px;
    height: 250px;
}

strong {
    font-weight: bold;
}

.parent {
    text-align: center;
}

.child {
    text-align: left;
}
