* {
    font-family: monospace;
    font-weight: 200;
    background-color: #0c0e28;
    color: mintcream;
    font-size: large;
}

h1 {
    text-align: center;
    font-weight: 300;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.head-one {
    text-align: center;
    font-weight: bold;
}

.head-two,
.head-three {
    text-align: left;
    font-weight: bold;
}

hr {
    width: 400px;
    border: solid lightslategray;
}

.lasagna {
    width: 380px;
    height: 200px;
}

.parent {
    text-align: center;
}

.child {
    text-align: left;
}

strong,
em {
    font-weight: bold;
    font-style: italic;
}
